@use "mixin" as *;

h1 {
  color: red;
  background: yellow;

  // mobile phone landscape
  @include mq("sm") {
    color: blue;
  }

  // tablet portrait
  @include mq("md") {
    color: purple;
  }

  // laptop portrait
  @include mq("lg") {
    color: green;
  }

  // desktop portrait
  @include mq("xl") {
    color: orange;
  }
}
