// @import url("mobile.css") screen and (max-width: 600px);
// @import url("desktop.css") screen and (min-width: 601px);


// @media query is usually used for responsive design
// mobile first = apply mobile size css first then if the size is bigger > create a media query to control the design

// mobile size design 
h1 {
    color: red;
    background-color: yellow;
}


// change color when screen size is bigger than 601px
@media screen and (min-width: 601px) {
    h1 {
        color: blue;
    }
}

